<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">	
	<title>百度搜索之vue-source</title>
	<link rel="stylesheet" href="lib/bootstrap.min.css">
	<script src="js/vue.js"></script>
	<script src="js/vue-resource.min.js"></script>
	<!-- <script src="js/axios.js"></script> -->
	<style>
		li:hover{background-color:#f2dede;}
	</style>
</head>
<body>
	<div id="app" class="container" style="margin-top:200px;">
		<input v-focus type="text" class="form-control" placeholder="请输入搜索内容" style="width:82%;display:inline-block;" v-model="msg" @keyup="get($event)" @keydown.down="godown()" @keydown.up.prevent="goup()"><button style="width:18%;" class="btn btn-primary" @click="submit(msg)">搜索</button>
		<ul class="bg-info" style="width:90%;padding:0;">
			<li style="list-style: none;" v-for="(item,index) in gdata" :class="{'bg-danger':index==now}" @click="submit(item)">{{item}}</li>
		</ul>
	</div>
	<script>
		window.onload=function(){
			// Vue.prototype.$http = axios;
			new Vue({
				el:"#app",
				data:{
					msg:'',
					gdata:[],
					now:-1
				},
				methods:{
					get:function(e){
						if(e.keyCode==38 || e.keyCode==40){return false;}
						if(e.keyCode==13){
							this.gdata=[];
							window.location.href='https://www.baidu.com/s?wd='+this.msg;
						}
						if(e.keyCode==27){
							this.gdata=[];
							return;
						}
						this.$http.jsonp('https://sp0.baidu.com/5a1Fazu8AA54nxGko9WTAnF6hhy/su',{wd:this.msg},{jsonp:'cb'}).then(function(res){
							this.gdata=res.data.s;
						},function(){});
					},
					godown:function(){
						this.now++;
						if(this.now==this.gdata.length){
							this.now=0;
						}
						this.msg=this.gdata[this.now];
					},
					goup(){
						this.now--;
						if(this.now<=-1){
							this.now=this.gdata.length-1;
						}
						this.msg=this.gdata[this.now];
					},
					submit:function(item){
						this.msg=item;
						this.gdata=[];
						window.location.href='https://www.baidu.com/s?wd='+this.msg;
					}
				}
				// directives: {
				//   focus: {
				//     // 指令的定义
				//     inserted: function (el) {
				//       el.focus()
				//     }
				//   }
				// }
				//--法2-在html属性中加上 ref="input"
				// mounted:function() {
				// 	this.$refs['input'].focus();
				// }
			})
		}
		Vue.directive('focus',{
			inserted:function(el){
				el.focus();
			}
		});	
	</script>
</body>
</html>