/*适屏*/
@media screen and (min-width:1000px) {
	.wrap{width: 970px;}
}		
@media screen and (min-width: 1250px) {
	.wrap{width: 1200px;}
}
/*所有样式初始化*/
html,body,ul,li,p,h1,h2,h3,h4,input,textarea,form,table,img,th,td,select{margin:0;padding:0;}
img,input{border:0;}
ul,li{list-style: none;}
table{border-collapse:collapse;}
body{color:#777;font:13px/20px "Microsoft Yahei","SimSun","宋体","Arial",sans-serif;background-color: #fff;overflow:auto;}
.clearfix:after{content:"";line-height: 0;height: 0;display:block;visibility:hidden;clear:both;}
.clearfix{zoom:1;}
a{text-decoration:none;color:#666;}
.fl{float:left;}
.fr{float:right;}
/*下面开始正文*/
.wrap{margin:0 auto;min-width: 970px;}
#header{width: 100%;}
#header .topbar {width: 100%;height: 105px;border-bottom:1px solid #f1f1f1;display:inline-block;}
#header .topbar .logo{height: 68px;margin-top:15px;padding-top:12px;}
#header .topbar .logo>a{display:inline-block;}
#header .topbar .logo>a .img{height:56px;width: 56px;background:url(../img/sprite.png) no-repeat 0 0;}
#header .topbar .logo>a h1{height:56px;width: 300px;line-height: 56px;color:#008DE8;margin-left:13px;font-size:20px;}
#header .topbar .logo>.login a{height:37px;width:65px;line-height: 37px;border:1px solid #008DE8;margin:8px 13px 0 0;border-radius:5px;text-align:center;display:inline-block;font-size:13px;}
#header .topbar .logo>.login a{background-color:white;color:#008DE8;}
#header .topbar .logo>.login a:hover{background-color:#008DE8;color:white;}
#header .nav{height: 67px;}
#header .nav ul:first-child li{float:left;height: 67px;margin-right:20px;position: relative;}
#header .nav ul:first-child li a{display:inline-block;height: 100%;padding:0 12px;line-height: 67px;}
#header .nav ul:first-child li i{width:0;height: 4px;background-color:#008DE8;content:"";position: absolute;left:50%;bottom:0;transition:1s;}
#header .nav ul:first-child li:hover a{color:#008DE8;}
#header .nav ul:first-child li:hover i{width:100%;left:0;}
#header .nav ul:first-child li.active a{color:#008DE8;} 
#header .nav ul:first-child li.active i{width:100%;left:0;} 
#header .nav ul:last-child li{height:67px;color:#008DE8;line-height: 67px;}
#header .nav ul:last-child li i{width: 32px;height: 30px;display:inline-block;background:url(../img/icon-tel.png) no-repeat;vertical-align:middle;}
#header .nav ul:last-child li span{font-size:13px;font-weight:bold;padding:0 12px;}
/*banner--s*/
#banner {width: 100%;height:387px;background:url(../img/web_02.jpg) no-repeat;background-size:100% 100%;min-width:970px;overflow:hidden;}
#banner div p{font-size:36px;color:white;line-height: 75px;text-indent:100px;overflow:hidden;}
#banner div p:first-child{margin-top:111px;}
/*banner--e*/
/*resource---s*/
#resource{height:683px;}
#resource>h2{text-align:center;width: 350px;margin:40px auto 20px;height:74px;line-height: 74px;font-size:34px;color:#000;}
#resource .tab{width: 100%;height:77px;border-bottom:1px solid #008DE8;font-size:0;}
#resource .tab a{;box-sizing:border-box;text-align:center;display:inline-block;width: 20%;height: 78px;border-radius:5px 5px 0 0;font-size:19px;line-height: 77px;color:#111;}
#resource .tab a.active{border:1px solid #008DE8;border-bottom:none;background-color:white;color:#008DE8;}
#resource .con{width: 100%;height: 480px;position: relative;}
#resource .pic{width:340px;height:362px;position: absolute;top:80px;left:10%;display:inline-block;}
#resource .pic img{position: absolute;left:0px;top:0px;width:100%;display:none;}
#resource .pic img.active{display:block;}
#resource .pic img:hover{transform:rotate(360deg);transition:1s ease-in-out;}
#resource .con-text{display:none;height:543px;width: 450px;float:right;margin-right:10%;text-align:center;}
#resource .con-text h2{font-size:36px;height: 70px;line-height: 70px;color:#000;margin:90px 0 30px;color:#008DE8;}
#resource .con-text p{font-size:15px;line-height: 44px;color:#333;width:450px;text-align:left;}
#resource .active{display:block;}
/*resource---e*/
/*progress---s*/
#progress{height: 212px;border:1px solid #eaeaea;padding-left:50px;box-sizing:border-box;}
#progress h2{margin:30px 0;width: 100%;height: 70px;line-height: 70px;font-size:20px;color:#222;position: relative;}
#progress h2::before{height: 40px;width: 4px;position: absolute;left:-50px;top:15px;content:"";background-color:#008DE8;}
#progress div a{float:left;width: 180px;height: 50px;text-indent:60px;font-size:13px;color:#111;line-height: 50px;margin-right:5%;}
#progress div a:first-child{background:url(../img/lc1.png) no-repeat;background-size:40px 40px;}
#progress div a:nth-child(2){background:url(../img/lc2.png) no-repeat;background-size:40px 40px;}
#progress div a:nth-child(3){background:url(../img/lc3.png) no-repeat;background-size:40px 40px;}
#progress div a:nth-child(4){background:url(../img/lc4.png) no-repeat;background-size:40px 40px;}
#progress div a:hover{color:#008DE8;}
/*progress---e*/
/*banner2---s*/
#banner2{height: 645px;}
#banner2>h2{text-align:center;width: 350px;margin:40px auto 0;height:74px;line-height: 74px;font-size:34px;color:#000;}
#banner2 .boast{width: 100%;border-bottom:1px solid #eaeaea;height: 113px;text-align:center;}
#banner2 .boast div{display:inline-block;height:91px;margin-top:20px;}
#banner2 .boast div+div{margin-left:30px;}
#banner2 .boast div b{color:#D62F40;font:900 40px/50px arial;}
#banner2 .boast div span{color:#777;font-size:26px;font-weight:bold;font-family:arial;}
#banner2>h3{text-align:center;height:74px;line-height: 74px;color:#777;font-family:arial;font-size:21px;color:#999;}
#banner2 .frame{width: 960px;margin:0 auto;height: 325px;position: relative;}
#banner2 .bannerTab{width: 860px;height: 325px;margin:0 auto;position: relative;overflow:hidden;}
#banner2 .bannerTab ul{height: 325px;position: absolute;left:0;top:0;}
#banner2 .bannerTab ul li{width: 860px;height: 325px;float:left;}
#banner2 .bannerTab ul li div{width: 100%;height: 100%;}
#banner2 .bannerTab ul li div a{width:160px;height:95px;float:left;box-sizing:border-box;border:1px solid #eaeaea;margin-right:15px;margin-bottom:20px;}
#banner2 .bannerTab ul li div a:nth-of-type(5n){margin-right:0px;}
#banner2 .bannerTab ul li div .divide~a{margin-bottom:0px;}
#banner2 .bannerTab ul li div a img{width:100%;height:100%;display:block;}
#banner2 .frame span{width: 42px;height: 72px;position: absolute;top:126px;cursor:pointer;}
#banner2 .frame span:first-of-type{left:0px;background:url(../img/sprite.png) no-repeat 0 -75px;}
#banner2 .frame span:last-child{right:0px;background:url(../img/sprite.png) no-repeat -64px -75px;}
@-webkit-keyframes flex{0%{transform:scale(0.1);}100%{transform:scale(1);}}
#banner2 .bannerTab ul li div a:hover{border-color:green;}
#banner2 .bannerTab ul li div a:hover img{-webkit-animation:1s flex;}
/*banner2---e*/


