footer{width:100%;overflow: hidden;padding-top:40px;background:#535353;}
.foot{margin:auto;padding:20px 0;color:#f9f9f9;overflow: hidden;}
.foot .foot-left{width:310px;font-size:1.2rem;}
.foot .foot-left>img{display: block;margin-bottom: 20px;height: 65px}
.foot .foot-left h2{height:45px;line-height:45px;font-size: 14px;}
.foot .foot-left h3>img{display: block;float: left;margin-top: 5px;margin-right: 15px;height: 30px}
.foot .foot-left address{font-style: normal;}
 h3{line-height:40px;font-size:14px;margin-top:10px;}
.footer{width:100%;background:#454545;height:50px;line-height:50px;text-align: center;}
.footer p{color:#fff;font-size:12px;}
.footer p a{color:#fff;font-size:12px;}
.foot .foot-right{margin-top:20px;margin-right: 100px}
.foot .foot-right h3{font-size:14px;height:40px;line-height:40px;text-align: center}
.foot .link-friend{width:1160px;height:60px;line-height:60px;font-size: 12px;margin-top:20px;}
.foot .link-friend a{display: inline-block;color:#ccc;margin-right:15px;}
.foot .link-friend a:nth-of-type(1){margin-left:10px;}
.foot .link-friend a:hover, .foot .foot-center ul li a:hover{color:#eee;text-decoration:underline;}

.foot .foot-center{width:500px;padding-left:0px;}
.foot .foot-center ul{width:170px;margin-left:20px;border-right:1px dotted #ccc;padding:0 35px 0 30px;}
.foot .foot-center ul li{height:40px;line-height:40px;width: 80px;float: left}
.foot .foot-center ul:nth-of-type(2){border-right:0;padding-right:0;}
.foot .foot-center ul h3{font-size:14px;height:40px;margin-top:0;line-height:10px;}
.foot .foot-center ul img{display: inline-block;margin-right:10px;margin-top:6px;float: left;}
.foot .foot-center ul li a{color:#ccc;font-size: 12px;}
/*联系客服*/
#fixed{ position:fixed; top: 70%;right: 20px; z-index: 99;box-sizing: border-box;}
#fixed .z-contact {position: absolute;bottom:160px;left:-15px;width: 100px;height:0px;overflow:hidden;transition:0.2s;}
#fixed .z-contact a{display:block;border:1px solid #008DE8;height: 40px;text-align:center;line-height:40px;color:#008DE8;}
#fixed .z-contact a+a{margin-top:-1px;}
#fixed .z-contact a img{width:20px;display:inline-block;vertical-align:middle;margin-right:10px;display:none;}
#fixed .z-contact a:hover{-webkit-filter:hue-rotate(180deg);}

#top1{ width: 70px; height:150px;}
#top1 a:first-child{width: 70px; height:70px;display:block;background:url(../img/qqserve.png) no-repeat;background-size:cover;}
#top1 a:last-child{width: 70px; height:70px;display:block;background:url(../img/qqback.png) no-repeat;background-size:cover;}
#top1 a:hover{-webkit-animation:0.5s flex1;-webkit-filter:hue-rotate(180deg)}
@-webkit-keyframes flex1{0%{transform:scale(1);}50%{transform:scale(0.7);}100%{transform:scale(1);}}

