/*con-con----s*/

.con-con>div{width: 100%;background-color: #fff;border:1px solid #e5e6e7;}
.con-con table{width: 100%;text-align:left;}
.con-con table thead tr{width: 100%;background-color:#ECECEC;height: 76px;line-height: 76px;font-size:14px;color:#555;}
.con-con table thead tr:first-child{background-color: #fff;font-size:16px;}
.con-con table thead tr th{font-weight:normal;}
.con-con table thead tr th:nth-child(1){padding-left:40px;}
.con-con table tbody tr {border-bottom:1px solid #e5e6e7;height: 76px;line-height: 76px;}
.con-con table tbody tr td:nth-child(1){padding-left:40px;}
.con-con table tbody tr td:nth-child(1) a{color:#16A085;padding:0 5px;}
.con-con table tbody tr td:last-child span{color:#6A7CD6;}
.con-con table tbody tr:hover{background-color:#E1E5E9;}

/*确认删除*/
.con_del{display: none;
}
.modal {z-index: 101;position: fixed;top: 40%;left: 50%;margin-left: -150px;padding: 1px;background-color: #fff;border: 1px solid #ccc;border: 1px solid rgba(0,0,0,0.2);-webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px;-webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);-moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);box-shadow: 0 5px 10px rgba(0,0,0,0.2);-webkit-background-clip: padding-box;-moz-background-clip: padding;background-clip: padding-box;
}
.modal-header {padding: 8px 14px;margin: 0;font-size: 14px;font-weight: normal;line-height: 18px;background-color: #f7f7f7;border-bottom: 1px solid #ebebeb;-webkit-border-radius: 5px 5px 0 0;-moz-border-radius: 5px 5px 0 0;border-radius: 5px 5px 0 0;height: 22px;
}
.modal-body {padding: 9px 14px;
}
.modal-footer {padding: 7px 15px 8px;text-align: right;
}
.modal_title {float: left;padding: 1px 0 5px 10px;margin-bottom: 1px;font-weight: bold;
}
.modal_close {margin-bottom: 1px;text-align: right;float: right;width: 14px;height: 14px;background: url(../img/modal_close.png);cursor: pointer;
}
.modal-body .icon {float: left;width: 44px;height: 42px;background-image: url(../img/woring.png);background-repeat: no-repeat;background-position: 0px 10px;
}
.modal-body .text {margin: 0 0 20px 50px;padding-top: 18px;font-size: 14px;
}
.modal-footer .btn {margin-left: 10px;
}
.btn {background: #eee;border: 0;-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;text-shadow: none;-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;color: #444;padding: 5px 9px;filter: none;
}
button {padding: 0 .25em;width: auto;_width: 0;overflow: visible !ie;
}
.btn:hover{background-color:#E8CC8A;}

/*获取代码*/
.con_del1{display: none;
}
.modal {z-index:101;position: fixed;top: 40%;left: 50%; padding: 1px;background-color: #fff;border: 1px solid #ccc;border: 1px solid rgba(0,0,0,0.2);-webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px;-webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);-moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);box-shadow: 0 5px 10px rgba(0,0,0,0.2);-webkit-background-clip: padding-box;-moz-background-clip: padding;background-clip: padding-box;
}
.modal-header {padding: 8px 14px;margin: 0;font-size: 14px;font-weight: normal;line-height: 18px;background-color: #f7f7f7;border-bottom: 1px solid #ebebeb;-webkit-border-radius: 5px 5px 0 0;-moz-border-radius: 5px 5px 0 0;border-radius: 5px 5px 0 0;height: 22px;
}
.modal_title {float: left;padding: 1px 0 5px 10px;margin-bottom: 1px;font-weight: bold;
}
.modal_close { margin-bottom: 1px;text-align: right;float: right;width: 14px; height: 14px;background: url(../img/modal_close.png);cursor:pointer;}

.modal-body {padding: 9px 14px;}

.modal-body .icon{float: left;width: 44px;height: 42px;background-image: url(../img/woring.png);background-repeat: no-repeat;background-position: 0px 10px;}

.modal-body .text{margin: 0 0 20px 50px;padding-top: 18px;font-size: 14px;}

.modal-footer {padding: 7px 15px 8px;text-align: right;}

.modal-body .text .txt-fld {position: relative; padding: 14px 20px;border-bottom: 1px solid #EEE; }

.modal-body .text .txt-fld label {display: block;float: left;width: 90px;padding-top: 8px;color: #222;font-size: 12px;text-align: left;padding-right:20px;
}


.modal-body .text .txt-fld input[type="text"],.txt-fld input[type="password"] {width: 244px;padding: 8px;border-radius: 4px;-moz-border-radius: 4px;-webkit-border-radius: 4px;font-size: 1.2em;color: #222;background: #F7F7F7;font-family: "Helvetica Neue";outline: none;border-top: 1px solid #CCC;border-left: 1px solid #CCC;border-right: 1px solid #E7E6E6;border-bottom: 1px solid #E7E6E6;
}

.modal-body .text  .btn-fld {width: 254px;overflow: hidden;padding: 12px 10px 6px 130px;
}

.modal-body .text .btn-fld button {float: right;font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;background: #3F9D4A;border: none;width: auto;overflow: visible;font-size: 12px;color: #FFF;padding: 7px 10px;border-radius: 4px;-webkit-border-radius: 4px;-moz-border-radius: 4px;font-weight: bold;text-shadow: 0 1px 0 rgba(0,0,0,0.4);
}

.f_error span.error ,.frc_error span.error{font-size: 11px;font-weight: 700;color: #C62626;padding-left:20px;
}



.modal-body .text .f_error  input[type="text"],.f_error  input[type="text"]  {color: #b94a48;border-color: #b94a48;
}


.modal-body #err span {padding-left:1px;

}


.modal-body .text .textarea_text{height:60px;
}

.st .f_error .error{display:block;float: right;
}

#content_a_parent .error{display:block;margin-top:10px;padding-left: 1px;
}

.modal-footer .btn { margin-left:10px}
 
.copy_ok {
	text-align: center;
	line-height: 30px;
	color: #e17800;
	background-color: #fef7db;
	border: 1px solid #999;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webket-border-radius: 3px;
	box-shadow: 0 2px 2px 0 #e5e5e5;
	-moz-box-shadow: 0 2px 2px 0 #e5e5e5;
	-webkit-box-shadow: 0 2px 2px 0 #e5e5e5;
	padding: 3px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 10px;
	display: none;
} 
