/*适屏*/
@media screen and (min-width:1000px) {
	.wrap{width: 970px;}
}		
@media screen and (min-width: 1250px) {
	.wrap{width: 1200px;}
}
/*所有样式初始化*/
html,body,ul,li,p,h1,h2,h3,h4,input,textarea,form,table,img,th,td,select{margin:0;padding:0;}
img,input{border:0;}
ul,li{list-style: none;}
table{border-collapse:collapse;}
body{color:#777;font:13px/20px "SimSun","Microsoft YaHei", Arial, sans-serif,"Arial",sans-serif "微软雅黑",;background-color: #fff;overflow:auto;height:3000px;}
.clearfix:after{content:"";line-height: 0;height: 0;display:block;visibility:hidden;clear:both;}
.clearfix{zoom:1;}
a{text-decoration:none;color:#666;}
.fl{float:left;}
.fr{float:right;}
/*下面开始正文*/
.wrap{margin:0 auto;min-width: 970px;}
#header{width: 100%;}
#header .topbar {width: 100%;height: 105px;border-bottom:1px solid #f1f1f1;display:inline-block;}
#header .topbar .logo{height: 68px;margin-top:25px;padding-top:12px;}
#header .topbar .logo .img{height:56px;width: 56px;background:url(../img/sprite.png) no-repeat 0 0;}
#header .topbar .logo h1{height:56px;width: 300px;line-height: 56px;color:#008DE8;margin-left:13px;font-size:20px;}
#header .topbar .logo a{height:37px;width:65px;line-height: 37px;border:1px solid #008DE8;margin:8px 13px 0 0;border-radius:5px;text-align:center;display:inline-block;font-size:13px;}
#header .topbar .logo a:first-child{background-color:white;color:#008DE8;}
#header .topbar .logo a:last-child{background-color:#008DE8;color:white;}
#header .nav{height: 67px;}
#header .nav ul:first-child li{float:left;height: 67px;margin-right:20px;position: relative;}
#header .nav ul:first-child li a{display:inline-block;height: 100%;padding:0 12px;line-height: 67px;}
#header .nav ul:first-child li i{width:0;height: 4px;background-color:#008DE8;content:"";position: absolute;left:50%;bottom:0;transition:1s;}
#header .nav ul:first-child li:hover a{color:#008DE8;}
#header .nav ul:first-child li:hover i{width:100%;left:0;}
#header .nav ul:first-child li.active a{color:#008DE8;} 
#header .nav ul:first-child li.active i{width:100%;left:0;} 
#header .nav ul:last-child li{height:67px;color:#008DE8;line-height: 67px;}
#header .nav ul:last-child li i{width: 32px;height: 30px;display:inline-block;background:url(../img/icon-tel.png) no-repeat;vertical-align:middle;}
#header .nav ul:last-child li span{font-size:13px;font-weight:bold;padding:0 12px;}










