/*!
 * fullPage 2.9.4
 */
html.fp-enabled,
.fp-enabled body {margin: 0;padding: 0;overflow:hidden;
/*Avoid flicker on slides transitions for mobile phones #336 */-webkit-tap-highlight-color: rgba(0,0,0,0);}
#superContainer {height: 100%;position: relative;
/* Touch detection for Windows 8 */-ms-touch-action: none;
/* IE 11 on Windows Phone 8.1*/touch-action: none;}
.fp-section {position: relative;-webkit-box-sizing: border-box; /* Safari<=5 Android<=3 */-moz-box-sizing: border-box; /* <=28 */box-sizing: border-box;}
.fp-slide {float: left;}
.fp-slide, .fp-slidesContainer {height: 100%;display: block;}
.fp-slides {z-index:1;height: 100%;overflow: hidden;position: relative;-webkit-transition: all 0.3s ease-out; /* Safari<=6 Android<=4.3 */transition: all 0.3s ease-out;}
.fp-section.fp-table, .fp-slide.fp-table {display: table;table-layout:fixed;width: 100%;}
.fp-tableCell {display: table-cell;vertical-align: middle;width: 100%;height: 100%;}
.fp-slidesContainer {float: left;position: relative;}
.fp-controlArrow {-webkit-user-select: none; /* webkit (safari, chrome) browsers */-moz-user-select: none; /* mozilla browsers */-khtml-user-select: none; /* webkit (konqueror) browsers */-ms-user-select: none; /* IE10+ */position: absolute;z-index: 4;top: 50%;cursor: pointer;width: 0;height: 0;border-style: solid;margin-top: -38px;-webkit-transform: translate3d(0,0,0);-ms-transform: translate3d(0,0,0);transform: translate3d(0,0,0);}
.fp-controlArrow.fp-prev {left: 15px;width: 0;border-width: 38.5px 34px 38.5px 0;border-color: transparent #fff transparent transparent;}
.fp-controlArrow.fp-next {right: 15px;border-width: 38.5px 0 38.5px 34px;border-color: transparent transparent transparent #fff;}
.fp-scrollable {overflow: hidden;position: relative;}
.fp-scroller{overflow: hidden;}
.iScrollIndicator{border: 0 !important;}
.fp-notransition {-webkit-transition: none !important;transition: none !important;}
#fp-nav {position: fixed;z-index: 100;margin-top: -32px;top: 50%;opacity: 1;-webkit-transform: translate3d(0,0,0);}
#fp-nav.right {right: 17px;}
#fp-nav.left {left: 17px;}
.fp-slidesNav{position: absolute;z-index: 4;left: 50%;opacity: 1;-webkit-transform: translate3d(0,0,0);-ms-transform: translate3d(0,0,0);transform: translate3d(0,0,0);}
.fp-slidesNav.bottom {bottom: 17px;}
.fp-slidesNav.top {top: 17px;}
#fp-nav ul,
.fp-slidesNav ul {
  margin: 0;
  padding: 0;}
#fp-nav ul li,
.fp-slidesNav ul li {display: block;width: 14px;height: 13px;margin: 7px;position:relative;}
.fp-slidesNav ul li {display: inline-block;}
#fp-nav ul li a,
.fp-slidesNav ul li a {display: block;position: relative;z-index: 1;width: 100%;height: 100%;cursor: pointer;text-decoration: none;}
#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span{height: 12px;width: 12px;margin: -6px 0 0 -6px;border-radius: 100%;
}
#fp-nav ul li a span,
.fp-slidesNav ul li a span {border-radius: 50%;position: absolute;z-index: 1;height: 4px;width: 4px;border: 0;background: #333;left: 50%;top: 50%;margin: -2px 0 0 -2px;-webkit-transition: all 0.1s ease-in-out;-moz-transition: all 0.1s ease-in-out;-o-transition: all 0.1s ease-in-out;transition: all 0.1s ease-in-out;}
#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span{width: 10px;height: 10px;margin: -5px 0px 0px -5px;}
#fp-nav ul li .fp-tooltip {position: absolute;top: -2px;color: #fff;font-size: 14px;font-family: arial, helvetica, sans-serif;white-space: nowrap;max-width: 220px;overflow: hidden;display: block;opacity: 0;width: 0;cursor: pointer;}
#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active + .fp-tooltip {-webkit-transition: opacity 0.2s ease-in;transition: opacity 0.2s ease-in;width: auto;opacity: 1;}
#fp-nav ul li .fp-tooltip.right {right: 20px;}
#fp-nav ul li .fp-tooltip.left {left: 20px;}
.fp-auto-height.fp-section,
.fp-auto-height .fp-slide,
.fp-auto-height .fp-tableCell{height: auto !important;}

.fp-responsive .fp-auto-height-responsive.fp-section,
.fp-responsive .fp-auto-height-responsive .fp-slide,
.fp-responsive .fp-auto-height-responsive .fp-tableCell {height: auto !important;}
/*以上*/
/*样式初始化*/
html,body,ul,li,p,h1,h2,h3,h4,input,textarea,form,table,img,th,td,select{margin:0;padding:0;}
img,input{border:0;}
ul,li{list-style: none;}
table{border-collapse:collapse;}
body{color:#fff;font:13px/20px "Microsoft Yahei","SimSun","宋体","Arial",sans-serif;background-color: #fff;overflow:auto;}
.clearfix:after{content:"";line-height: 0;height: 0;display:block;visibility:hidden;clear:both;}
.clearfix{zoom:1;}
a{text-decoration:none;color:#fff;}
.fl{float:left;}
.fr{float:right;}
/*下面开始正文*/
/*--header--*/
#head{width: 100%;height: 100%;overflow:hidden;position: relative;background-color:#1CABF1; background:-webkit-linear-gradient(90deg,#2FEEFE 0%,#1CABF1 100%);background:linear-gradient(to top,#2FEEFE 0%,#1CABF1 100%);z-index:0;}
#head nav{width: 100%;height: 76px;}
#head nav .logo{width: 99px;height: 36px;margin-left:160px;margin-top:15.5px;transition:1s all ease-in-out;}
#head nav .logo a{background:url(../img/logo.png) no-repeat;background-size:100%;display:block;width: 100%;height: 100%;}
#head nav .login {margin-right:60px;margin-top:20.5px;margin-left:20px;transition:1s all ease-in-out;}
#head nav .login a{display:inline-block;width: 80px;height: 35px;border-radius: 2px;text-align:center;line-height:35px;font-size:12px;}
#head nav .login a:first-child{background-color:#feb000;}
#head nav .login a:hover{text-decoration:none;}
#head nav .menu {position: relative;}
#head nav .menu li{float:left;line-height:76px;margin:0 20px;font-size:14px;}
#head nav .menu li a:hover{text-decoration:none;color:white;}
#head nav .menu .underline{width:28px;height:3px;background-color:white;position: absolute;bottom:22px;left:20px;margin:0;transition:all 0.35s ease-in-out;}
#head>h1{font-weight:lighter;font-size:0px;text-align:center;margin:210px auto 0;letter-spacing:1px;position: relative;z-index:3;width: 533px;height: 56px;background:url(../img/h1.png) no-repeat;background-size:cover;}
#head>h4{font-weight:lighter;font-size:18px;text-align:center;margin-top:500px;letter-spacing:1px;}
#head .category{width: 252px;height:60px;margin:50px auto;font-size:0;}
#head .category a{width: 60px;height:60px;border-radius:50%;margin:0 12px;font-size:19px;display:inline-block;text-align:center;line-height:60px;background-color:#FEDE5C;background:-webkit-linear-gradient(#FEDE5C 50%,#C2EBF4);}
#head .category a:hover{text-decoration:none;color:#fff;}
#head .login2{width: 224px;height:40px;margin:50px auto;font-size:0;}
#head .login2 a{display:inline-block;width:100px;height: 40px;border-radius: 3px;text-align:center;line-height:40px;background-color:#00b5ff;font-size:19px;box-shadow:-2px 2px 6px #53A1AD;}
#head .login2 a+a{margin-left:24px;background-color:#00e782;}
#head .login2 a:hover{text-decoration:none;}
#head .mountain{position: absolute;bottom:0;right:200px;width: 540px;height: 161px;background:url(../img/mout.png) no-repeat;background-size:cover;transition:1s all ease-in-out;}
#head .cloud1{position: absolute;left:200px;bottom:140px;width:100px;height:40px;background:url(../img/clond_01.png) no-repeat;background-size:cover;z-index:1}
#head .cloud2{position: absolute;left:300px;bottom:90px;width:70px;height:28px;background:url(../img/clond_01.png) no-repeat;background-size:cover;z-index:1}
#head .cloud3{position: absolute;right:300px;top:200px;width:136px;height:54px;background:url(../img/clond_01.png) no-repeat;background-size:100% 100%;z-index:1}
#head .cloud4{position: absolute;right:200px;top:270px;width:81px;height:40px;background:url(../img/clond_02.png) no-repeat;background-size:cover;z-index:1}
/*--section-introduce--*/
#introduce{width: 100%;height: 100%;overflow:hidden;position: relative;background-color:#eafffc;color:#3F4140;}
#introduce .container>h2{font-size:33px;margin-top:805px;text-align:center;font-weight:normal;}
#introduce .container>p{font-size:16px;margin-top:20px;text-align:center;color:#AEB2B1;margin-bottom:140px;}
#introduce .container .list{margin-bottom:20px;}
#introduce .container .i-wrap{width: 90%;height: 413px;margin:0 auto;background-color:white;position: relative;}
#introduce .container .i-wrap>i{width:100%;height: 4px;display:block;background-color:#0988F5;background:-webkit-linear-gradient(45deg,#09B5B6 0%,#0988F5 100%);}
#introduce .container .i-wrap .i-up{width: 100%;height: 200px;overflow:hidden;position: relative;}
#introduce .container .i-wrap .i-up a{width: 54px;height:54px;display:block;margin:45px auto 0;}
#introduce .container .list1 .i-up a{background:url(../img/icon_dabao_nam.png) no-repeat center center;}
#introduce .container .list2 .i-up a{background:url(../img/icon_huodong_nam.png) no-repeat center center;}
#introduce .container .list3 .i-up a{background:url(../img/icon_shouyi_nam.png) no-repeat center center;}
#introduce .container .list4 .i-up a{background:url(../img/icon_xtong_nam.png) no-repeat center center;}
#introduce .container .i-wrap .i-up h3{font-size:20px;font-weight:normal;text-align:center;margin-top:20px;}
#introduce .container .i-wrap .i-up b{position: absolute;width: 60px;height:2px;background-color:#000;bottom:20px;left:50%;margin-left:-30px;}
#introduce .container .i-wrap .i-down{padding:10px 30px 0;position: relative;}
#introduce .container .i-wrap>a{width: 100px;height: 30px;position: absolute;left:50%;bottom:20px;margin-left:-50px;border-radius:30px;text-align:center;line-height:30px;background-color:#0988F5;background:-webkit-linear-gradient(0deg,#09B5B6 0%,#0988F5 100%);background:linear-gradient(to right,#09B5B6 0%,#0988F5 100%);display:none;}
#introduce .container .i-wrap>a:hover{text-decoration:none;}
#introduce .container .i-wrap:hover{box-shadow:0 0 10px #ccc;}
#introduce .container .i-wrap:hover .i-up{background-color:#0988F5;background:-webkit-linear-gradient(315deg,#09B5B6 0%,#0988F5 100%);color:white;}
#introduce .container .i-wrap:hover i{background-color:#09B5B6;background:-webkit-linear-gradient(225deg,#09B5B6 0%,#0988F5 100%);}
#introduce .container .i-wrap:hover .i-up b{background-color:white;}
#introduce .container .i-wrap:hover >a{display:block;}
#introduce .container .list1 .i-wrap:hover .i-up a{background:url(../img/icon_dabao_active.png) no-repeat center center;}
#introduce .container .list2 .i-wrap:hover .i-up a{background:url(../img/icon_huodong_active.png) no-repeat center center;}
#introduce .container .list3 .i-wrap:hover .i-up a{background:url(../img/icon_shouyi_active.png) no-repeat center center;}
#introduce .container .list4 .i-wrap:hover .i-up a{background:url(../img/icon_xtong_active.png) no-repeat center center;}
#introduce .wave1{width: 100%;height: 104px;position: absolute;bottom:0;left:0;background:url(../img/bolangxian_01.png) repeat-x 0 0;-webkit-animation:sparkle 12s linear infinite;animation:sparkle 12s linear infinite;}
#introduce .wave2{width: 100%;height: 105px;position: absolute;bottom:0;left:0;background:url(../img/bolangxian_02.png) repeat-x 0 0;-webkit-animation:sparkle 15s linear infinite;animation:sparkle 15s linear infinite;}
@-webkit-keyframes sparkle {0%{background-position:0 0;}100%{background-position:1920px 0 ;}}
@keyframes sparkle {0%{background-position:0 0;}100%{background-position:1920px 0 ;}}
/*--section-assist--*/
#assist{width: 100%;height: 100%;overflow:hidden;position: relative;background-color:#f2ffff;color:#3F4140;}
#assist>h2{font-size:33px;margin-top:505px;text-align:center;font-weight:normal;}
#assist>p{font-size:16px;margin-top:20px;text-align:center;color:#AEB2B1;margin-bottom:20px;}
#assist .a-left{width: 568px;height:679px;font-size:0;box-sizing:border-box;padding-top:150px;margin-left:-800px;}
#assist .a-left a{margin:0 10px 20px;display:inline-block;border-radius:3px;position: relative;z-index:1;}
#assist .a-right{width: 344px;height:679px;background:url(../img/iphone_01.png) no-repeat;background-size:100% 100%;position: relative;margin-right:-600px;}
#assist .a-right img{display:block;margin:78px 0px 0 33px;}
#assist .a-left a:hover{box-shadow:0 0 10px #333;}
#assist .art1{position: absolute;bottom:0;right:0;width: 69px;height: 110.9px;background:url(../img/art_06.png) no-repeat;background-size:cover;}
#assist .art2{position: absolute;bottom:0;right:0;width: 85px;height: 151px;background:url(../img/art_05.png) no-repeat;background-size:cover;opacity:0;}
#assist .art3{position: absolute;bottom:0;right:0;width: 120px;height: 184px;background:url(../img/art_04.png) no-repeat;background-size:cover;opacity:0;}
#assist .art4{position: absolute;bottom:0;right:0;width: 153px;height: 219px;background:url(../img/art_03.png) no-repeat;background-size:cover;opacity:0;}
#assist .art5{position: absolute;bottom:0;right:0;width: 186px;height: 253px;background:url(../img/art_02.png) no-repeat;background-size:cover;opacity:0;}
#assist .art6{position: absolute;bottom:0;right:0;width: 219px;height: 285px;background:url(../img/art_01.png) no-repeat;background-size:cover;opacity:0;}
/*--section-choice--*/
#choice{width: 100%;height: 100%;overflow:hidden;position: relative;background-color:#ffffff;color:#3F4140;}
#choice .wave9{width: 100%;height: 477px;background:url(../img/wave9.jpg) no-repeat;background-size:100%;}
#choice h3{text-align:center;font-size:36px;font-weight:lighter;color:#555;margin-bottom:90px;margin-top:-80px;width:0;height:0;overflow:hidden;}
#choice>a{text-align:center;font-size:14px;color:white;width: 119px;height: 40px;display:block;margin:400px auto;line-height:40px;background-color:#00b2f8;border-radius:5px;}
#choice>a i{width: 16px;height: 16px;background:url(../img/icon_shuru.png) no-repeat;background-size:cover;vertical-align:middle;display:inline-block;margin-right:12px;}
#choice>p{text-align:center;font-size:15px;font-weight:lighter;color:#999;}
#choice .line1{width: 100%;height: 120px;position: absolute;bottom:60px;left:0;background:url(../img/line_02_02.png) repeat-x 0 0;-webkit-animation:sparkle1 7s linear infinite;animation:sparkle1 7s linear infinite;}
#choice .line2{width: 100%;height: 120px;position: absolute;bottom:60px;left:0;background:url(../img/line_02_05.png) repeat-x 0 0;-webkit-animation:sparkle1 9s linear infinite;animation:sparkle1 9s linear infinite;}
#choice .line3{width: 100%;height: 120px;position: absolute;bottom:60px;left:0;background:url(../img/line_02_07.png) repeat-x 0 0;-webkit-animation:sparkle1 5s linear infinite;animation:sparkle1 5s linear infinite;}
@-webkit-keyframes sparkle1 {0%{background-position:0 0;}100%{background-position:1280px 0 ;}}
@keyframes sparkle1 {0%{background-position:0 0;}100%{background-position:1280px 0 ;}}
/*--footer--*/
#foot{width: 100%;height: 252px;background-color: #323D42;overflow:hidden;position: relative;color:#ACB1B4;}
#foot .f-list1 h3{font-size:20px;color:white;margin-top:33px;}
#foot .f-list1 ul li{float:left;margin:20px 0;margin-right:20px;}
#foot .f-list1 ul li a{color:#ACB1B4;}
#foot .f-list1 .evil p{margin-bottom:10px;}
#foot .f-list1 .evil p a:hover{text-decoration:none;color:#2592ED;}
#foot .f-list2 h3{font-size:20px;color:white;margin-top:33px;}
#foot .f-list2 ul li{float:left;margin:5px 0;margin-left:30px;}
#foot .f-list2 ul {width: 321px;margin:10px 0;}
#foot .f-list2 ul li:nth-of-type(1){margin-left:0px;}
#foot .f-list2 ul li:nth-of-type(5){margin-left:0px;}
#foot .f-list2 ul li:nth-of-type(9){margin-left:0px;}
#foot .f-list2 ul li a{color:#ACB1B4;}
#foot .f-list2 ul li a:hover{text-decoration:none;color:#2592ED;}
#foot .f-list2 div a:nth-of-type(1){width: 38px;height: 38px;border-radius:50px;display:inline-block;background:url(../img/icon_footer_xinlang.png) no-repeat;background-size:cover;}
#foot .f-list2 div a:nth-of-type(2){margin-left:20px;width: 38px;height: 38px;border-radius:50px;display:inline-block;background:url(../img/icon_footer_weixin.png) no-repeat;background-size:cover;}
#foot .f-list2 div a:nth-of-type(3){margin-left:20px;width: 38px;height: 38px;border-radius:50px;display:inline-block;background:url(../img/icon_footer_mail.png) no-repeat;background-size:cover;}
#te4{height: 252px !important;}

/*-----*/
@media screen and (max-width:768px) {
	#head{height:100vh;}
	#head nav .menu {display:none;}
	#head nav .logo{margin-left:20px;width: 90px;height: 33px;margin-top:21.5px;}
	#head nav .login {margin-right:0px;}
	#head>h1{margin:80px auto 0;width: 310px;height: 31.5px;}
	#head .mountain{right:0px;width: 300px;height:90px;}
	#head .cloud4{right:100px;top:100px;}
	#head .cloud1,#head .cloud2,#head .cloud3{display:none;}
	
	#te1{height: 1100px !important;}
	#introduce{width: 100%;height: 1100px;}
	#introduce .container>h2{font-size:25px;margin-top:70px;}
	#introduce .container>p{font-size:13px;margin-top:15px;margin-bottom:30px;}
	#introduce .container .list{padding:0;}
	#introduce .container .i-wrap{width: 90%;}
	#introduce .container .i-wrap .i-down{padding:5px 3px 0;}
	#introduce .container .i-wrap>a:hover{text-decoration:none;}
	#introduce .container .i-wrap{box-shadow:0 0 10px #ccc;}
	#introduce .container .i-wrap .i-up{background:-webkit-linear-gradient(315deg,#09B5B6 0%,#0988F5 100%);color:white;}
	#introduce .container .i-wrap i{background:-webkit-linear-gradient(225deg,#09B5B6 0%,#0988F5 100%);}
	#introduce .container .i-wrap .i-up b{background-color:white;}
	#introduce .container .i-wrap >a{display:block;}
	#introduce .container .list1 .i-wrap .i-up a{background:url(../img/icon_dabao_active.png) no-repeat center center;}
	#introduce .container .list2 .i-wrap .i-up a{background:url(../img/icon_huodong_active.png) no-repeat center center;}
	#introduce .container .list3 .i-wrap .i-up a{background:url(../img/icon_shouyi_active.png) no-repeat center center;}
	#introduce .container .list4 .i-wrap .i-up a{background:url(../img/icon_xtong_active.png) no-repeat center center;}
	
	#te2{height: 800px !important;}
	#assist{width: 100%;height:800px;}
	#assist>h2{font-size:25px;margin-top:70px;}
	#assist>p{font-size:13px;margin-top:15px;margin-bottom:30px;}
	#assist .a-right{display:none;}
	#assist .a-left{width: 284px;padding-top:30px;position: absolute;left:50%;margin-left:-142px;top:145px;}

	#te3{height: 500px !important;}
	#choice{height: 500px;}
	#choice .wave9{height: 120px;}
	#choice h3{font-size:25px;line-height:30px;width: 80%;margin:0 auto 65px;}
	#foot .f-list1 ul li{float:left;margin:10px 0;margin-right:20px;}
	#choice .line1,#choice .line2,#choice .line3{bottom:0px;}
}
@media screen and (min-width:768px) {
	#head nav .logo{margin-left:20px;}
	#head nav .login {margin-right:0px;}
	#introduce .container .i-wrap{width: 100%;}
	#introduce .container .i-wrap .i-down{padding:10px 5px 0;}
	#assist .a-left{width: 284px;padding-top:85px;}
	#foot .f-list1 ul li{float:left;margin:10px 0;margin-right:20px;}
}
@media screen and (min-width:992px) {
	#head nav .logo{margin-left:160px;}
	#head nav .login {margin-right:60px;}
	#introduce .container .i-wrap .i-down{padding:10px 20px 0;}
	#assist .a-left{width: 568px;padding-top:150px;}
	#foot .f-list1 ul li{float:left;margin:20px 0;margin-right:20px;}
}
@media screen and (min-width:1200px) {
	#introduce .container .i-wrap .i-down{padding:10px 30px 0;position: relative;}
	#introduce .container{width:1080px;}
	#assist .container{width:1037px;}
}